{
  "CN": "ldap.{{ aswf_domain }}",
  "key": {
    "algo": "ecdsa",
    "size": 384
  },
  "names": [
    {
      "O": "ASWF Clone",
      "OU": "Department of Cloning",
      "L": "Los Angeles",
      "ST": "California",
      "C": "US"
    }
  ]
}
